/app/node_modules
/app/public/hot
/app/public/storage
/app/storage/*.key
/app/vendor
/app/.idea
/app/.vscode
/app/.vagrant
/app/Homestead.json
/app/Homestead.yaml
/app/npm-debug.log
/app/yarn-error.log
/app/cronjobs_paperyard
/app/storage/app/documents_images/
/app/storage/app/documents_new/
/app/storage/app/documents_ocred/
/app/storage/app/documents_processing/
/app/storage/app/symfony_process_error_logs/
.phpintel
.idea
