/app/node_modules
/app/public/hot
/app/public/storage
/app/storage/*.key
/app/vendor
/app/.idea
/app/.vscode
/app/.vagrant
/app/Homestead.json
/app/Homestead.yaml
/app/npm-debug.log
/app/yarn-error.log
.phpintel

